body {
    background-color: grey;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: white;
    margin: 32px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column: 1 / 3;

    height: 200px;
}

.logo {
    color: white;
    background-color: blue;
}

.nav {
    display: grid;
    grid-column: 2 / 3;
    background-color: pink;
}

.sidebar {
    grid-row: 2 / 4;
    
    background-color: green;;
    height: 100px; 
}

.footer {
    grid-column: 1 / 3;
    background-color: orange;
    text-align: center;
}
