body {
    background-color: grey;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: white;
    margin: 32px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;

    background-color: yellow;
}

/* .logo {
    grid-row: 1/3; 
    color: white;
    background-color: blue;
} */

/* .search {

} */

/* .nav {
    display: grid;
    grid-column: 2 / 3;
    background-color: pink;
} */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
    background-color: green;;
    height: 500px; 
}

.footer {
    grid-column: 1 / 3;
    background-color: orange;
    text-align: center;
}
