:root {
    --color-orange: #eeb241;
    --color-blue: #2391d0;
    --color-bright-text: yellow;
    --color-darktext: #222222;
    --color-lightgray: #333333; 
    --color-darkgray: #222222;
    --color-lighttext: #c6c6c6;
    --color-text-shadow: gray;
    
    /* SVG filter settings */
    --color-invert: 74%;
    --color-sepia: 34%;
    --color-saturate: 890%;
    --color-hue-rotate: 349deg;
    --color-brightness: 99%;
    --color-contrast: 89%;

    --shade-invert: 3%;
    --shade-sepia: 13%;
    --shade-saturate: 21%;
    --shade-hue-rotate: 320deg;
    --shade-brightness: 90%;
    --shade-contrast: 78%;
}

[data-theme="light"] {
    
    --color-darkgray: #969696;
    --color-orange: #2391d0;
    --color-blue: #eeb241;
    --color-lighttext: #222222;
    --color-lightgray: #c6c6c6;
    --color-darktext: white;
    /* SVG filter settings */
    --color-invert: 75%;
    --color-sepia: 55%;
    --color-saturate: 6661%;
    --color-hue-rotate: 174deg;
    --color-brightness: 87%;
    --color-contrast: 84%;
    --shade-invert: 100%;
    --shade-sepia: 100%;
    --shade-saturate: 1%;
    --shade-hue-rotate: 345deg;
    --shade-brightness: 102%;
    --shade-contrast: 101%;
}

@font-face {
    font-family: "distant";
    src: url("font/distgrg_-webfont.woff2") format("woff2"), url("font/distgrg_-webfont.woff")
        format("woff");
  }

  @font-face {
    font-family: "mando";
    src: url("font/mandalor-webfont.woff2") format("woff2"), url("font/mandalor-webfont.woff")
        format("woff");
  }

.container {
    display:    grid;
    grid-template: 1fr 5fr 30px / 1fr 7fr;
    height:     100vh;
    width:      100vw;
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

.header {
    background-color: var(--color-lightgray);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

img { 
    height: 30px;
}

.search {
    display: grid;
    grid-area: 1 / 1 / 3 / 3;
    grid-template-columns: 3fr 1fr;
    padding-top: 16px;
}

.search-input {
    align-items: center;
    display: grid;
    gap: 8px;
    grid-template-columns: 40px 1fr;
    padding-left: 16px;
}

input {
    background-color: var(--color-darkgray);
    border-color: black;
    border-radius: 20px;
    color: var(--color-orange);
    font-size: 1rem;
    height: 30px;
    outline: none;
    padding-left: 12px;
}

input::placeholder{
    color: var(--color-orange);
}

input:focus{
    border: 1px solid var(--color-orange);
    box-shadow: 0 0 8px 0 var(--color-orange);
}

.search-icons {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-right: 32px;
}

.mode-switch {
    display: grid;
    grid-template-columns: 40px 80px 40px;
    justify-items: center;
}

.github {
    align-items: center;
    display: grid;
    font-family: "distant";
    font-size: 1.5rem;
    grid-template-columns: 60px 1fr;
}

.github img {
    height: 50px;
}

.user-info {
    align-items: end;
    display: grid;
    font-family: "distant";
    font-size: 1.2rem;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 2fr;;
    margin-left: 16px;
    padding: 16px;
}

.user-info > p {
    font-size: 1.8rem;
}

.user-info > img {
    grid-row: 1 / 3;
    height: 60px;
}

.user-buttons {
    align-items: center;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 32px ;

}

.sidebar {
    align-items: start;
    background-color: var(--color-orange);
    color: var(--color-darktext);
    display: grid;
    font-family: "distant";
    gap: 48px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-rows: 100px 250px 1fr;
}

.branding {
    align-items: center;
    display: grid;
    font-weight: 600;
    font-size: 1.7rem;
    grid-template-columns: 60px 1fr;
    padding: 20px 16px 0px 16px;
    text-shadow: 1px 1px 2px var(--color-text-shadow);
    
}

.branding > img {
    height: 50px;
}

.navigation,
.settings {
    align-items: center;
    /* color: var(--color-darkgray); */
    display: grid;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 12px;
    grid-template-columns: 40px 1fr;
    padding-left: 16px;
    text-shadow: 1px 1px 2px var(--color-text-shadow);
}

.projects {
    background-color: var(--color-darkgray);
    padding: 16px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow: scroll;
}

.projects .title {
    color: var(--color-lighttext);
    font-size: 1.5rem;
    padding: 16px;
    text-shadow: 1px 1px 2px var(--color-text-shadow);

}

.cards {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-area: 2 / 1 / 3 / 2;
}

.card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: grid;
    grid-template-columns: 10px 10fr;
    height: 500px;
}

.strip {
    background-color: var(--color-blue);
    border-radius: 20px 0px 0px 20px;
}

.card-content {
    background-color: var(--color-lightgray);
    border-radius: 0 20px 20px 0px;
    color: var(--color-lighttext);
    display: grid;
    grid-template-rows: 50px 1fr auto-fit auto-fit;
    justify-items: center;
    padding: 16px;
}

.card .title {
    font-weight: 600;
    font: 1.5rem "distant";
    margin-top: 8px;
    text-shadow: 1px 1px 2px var(--color-text-shadow);

}

.cards ~ .title {
    padding-left: 48px;
}

.mando .title,
.mando .text {
    color: var(--color-bright-text);
    font-family: "mando";
}

.card .text {
    font-size: 1.2rem;
}

.card-content > img {
    height: 200px;
    margin-bottom: 16px;
}

.icons {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-self: end;
    padding: 16px;
}

.RHS {
    display: grid;
    gap: 16px;
    grid-template-rows: min-content 50px min-content;
    padding: 0px 32px;
}

.announce-card,
.trend-card {
    background-color: var(--color-lightgray);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: grid;
    gap: 16px;
    grid-template-rows: min-content 2px min-content 2px min-content;
    padding: 32px;
}

.announce-card .title {
    color: var(--color-lighttext);
    font: 1rem "distant";
    padding: 0;
    text-shadow: 1px 1px 2px var(--color-text-shadow);
}

.announce-card .text {
    color: var(--color-lighttext);
    font-size: .9rem;
    margin-top: 8px;
}

.trend-card {
    color: var(--color-lighttext);
    display: grid;
    gap: 24px 8px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
}

.avatar {
    border-radius: 50%; 
    display: inline-block; 
    height: 50px; 
    overflow: hidden; 
    position: relative; 
    width: 50px; 
}

.avatar img {
    width: auto; height: 100%; margin-left: -15px; 
}

.trend-card .title {
    font: 1rem "distant";
    padding: 0;
}

.trend-card .text {
    font-size: 1.2rem;
    margin-top: 4px;
}

.filter-shade {
    filter: invert(var(--shade-invert)) sepia(var(--shade-sepia)) saturate(var(--shade-saturate)) hue-rotate(var(--shade-hue-rotate)) brightness(var(--shade-brightness)) contrast(var(--shade-contrast));
}

.filter-color {
    filter: invert(var(--color-invert)) sepia(var(--color-sepia)) saturate(var(--color-saturate)) hue-rotate(var(--color-hue-rotate)) brightness(var(--color-brightness)) contrast(var(--color-contrast));
}

.text-orange {
    color: var(--color-orange);
    text-shadow: 1px 1px 2px black;
}

a {
    text-decoration: none;
    color: var(--color-darktext);
}

a:hover {
    text-decoration: underline;
}

.github a {
    color: var(--color-orange);
}

.github a:hover {
    color: var(--color-blue);
}

.switch {
    height: 30px;
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--color-darkgray);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--color-darkgray);
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--color-orange);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  -webkit-user-select: none;
  appearance: none;
  background-color: var(--color-orange);
  border-radius: 15px;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  width: 100%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  background-color: var(--color-blue);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  color: var(--color-lighttext);
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}